@font-face {
  font-family: Amaranth;
  src: url(fonts/Amaranth-Regular.otf);
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: Amaranth;
  src: url(fonts/Amaranth-Italic.otf);
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: Amaranth;
  src: url(fonts/Amaranth-Bold.otf);
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: Amaranth;
  src: url(fonts/Amaranth-BoldItalic.otf);
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: Aller;
  src: url(fonts/Aller_Lt.ttf);
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: Aller;
  src: url(fonts/Aller_LtIt.ttf);
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: Aller;
  src: url(fonts/Aller_Rg.ttf);
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: Aller;
  src: url(fonts/Aller_Bd.ttf);
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: Aller;
  src: url(fonts/Aller_BdIt.ttf);
  font-style: italic;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-family: Amaranth, Verdana, Arial; }

body {
  font-family: Aller, Arial; }

::selection {
  background-color: #F03F3D; }

object {
  display: none; }

h2.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #545455;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: 3px solid #F03F3D;
  position: relative;
  margin-bottom: 30px; }
  h2.section-title.inverse {
    color: #fff;
    border-bottom-color: #fff;
    font-weight: 500; }
    h2.section-title.inverse:after {
      border-top-color: #fff; }
  h2.section-title span {
    display: block;
    font-size: 16px;
    color: #BDBDC0; }
  h2.section-title:after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 10px;
    border-top: 10px solid #F03F3D;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent; }

.red-btn {
  display: inline-block;
  background-color: #F03F3D;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  border: none;
  padding: 12px 15px;
  font-size: 16px; }
  .red-btn:hover, .red-btn:focus {
    background-color: #cb4332; }

.padding-right-0 {
  padding-right: 0 !important; }

.padding-left-0 {
  padding-left: 0 !important; }

.padding-left-30 {
  padding-left: 30px; }

.padding-right-30 {
  padding-right: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.support-div {
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

a.inverse-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase; }
  a.inverse-link span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
    display: block;
    padding: 10px; }
    a.inverse-link span i {
      margin-right: 5px; }
    a.inverse-link span:before, a.inverse-link span:after {
      content: '';
      position: absolute;
      transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      -webkit-transition: transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      left: 0;
      top: 0;
      background: #fff;
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease; }
    a.inverse-link span:before {
      width: 100%;
      height: 2px;
      transform: translateX(100%);
      transition-delay: 0.3s; }
    a.inverse-link span:after {
      width: 2px;
      height: 100%;
      transform: translateY(-100%);
      transition-delay: 0s; }
  a.inverse-link:before, a.inverse-link:after {
    content: '';
    position: absolute;
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    right: 0;
    bottom: 0;
    background: #fff; }
  a.inverse-link:before {
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    transition-delay: 0.9s; }
  a.inverse-link:after {
    width: 2px;
    height: 100%;
    transform: translateY(100%);
    transition-delay: 0.6s; }
  a.inverse-link:hover:before, a.inverse-link:hover:after {
    transform: translate(0, 0); }
  a.inverse-link:hover:before {
    transition-delay: 0s; }
  a.inverse-link:hover:after {
    transition-delay: 0.3s; }
  a.inverse-link:hover span:before, a.inverse-link:hover span:after {
    transform: translate(0, 0); }
  a.inverse-link:hover span:before {
    transition-delay: 0.6s; }
  a.inverse-link:hover span:after {
    transition-delay: 0.9s; }

#site-navigation {
  position: relative; }

#main-nav .navbar-brand:focus, #main-nav .navbar-brand:active {
  outline: none;
  border: none; }

#main-nav ul {
  position: relative;
  padding-right: 35px;
  margin-bottom: -5px; }
  #main-nav ul.nav li:hover a {
    overflow: hidden;
    outline: none; }
    #main-nav ul.nav li:hover a:before {
      width: 75%;
      transform: translateX(0%);
      background: #e96656;
      height: 2px;
      bottom: 0px;
      left: 12.5%; }
  #main-nav ul.nav li:active a {
    display: inline-block;
    overflow: hidden;
    outline: none; }
    #main-nav ul.nav li:active a:before {
      width: 75%;
      transform: translateX(0%);
      background: #e96656;
      height: 2px;
      bottom: 0px;
      left: 12.5%; }
  #main-nav ul.nav li a:before {
    content: '';
    transform: translateX(0);
    position: absolute;
    display: block;
    transition: all ease 0.4s; }

#main-nav #searchform .active input.search-query {
  width: 230px;
  background-color: white; }

#main-nav #searchform input.search-query {
  width: 0;
  position: absolute;
  top: 41%;
  right: 34px;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.6s;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #000;
  padding-right: 0;
  padding-left: 0; }

#main-nav #searchform button.holder {
  position: absolute;
  top: 80%;
  right: 0;
  transform: translate3d(-50%, -50%, 0);
  margin: -4px 0 0 8px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0.5s;
  color: #000;
  padding: 0;
  background-color: transparent;
  border-bottom: 2px solid transparent; }
  #main-nav #searchform button.holder:hover {
    border-bottom: 2px solid #000; }
    #main-nav #searchform button.holder:hover svg circle {
      stroke-dashoffset: -100; }
  #main-nav #searchform button.holder i.material-icons {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: auto;
    right: -13px;
    bottom: -1px;
    left: auto;
    font-size: 20px;
    transition: right .3s linear .7s; }
  #main-nav #searchform button.holder svg {
    position: absolute;
    top: auto;
    right: -17px;
    bottom: -3px;
    left: auto;
    transform: rotate(-270deg); }
    #main-nav #searchform button.holder svg circle {
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
      transition: all 1s cubic-bezier(0.55, 0, 0.1, 1); }

footer#footer {
  background-color: #F03F3D;
  color: #fff;
  padding: 25px 0; }
  footer#footer h2.section-title {
    font-size: 20px;
    line-height: 20px; }

#copyright-container {
  background-color: #414141;
  color: #fff;
  padding: 5px 0; }
  #copyright-container p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 12px; }
  #copyright-container .cr-box {
    text-align: left;
    height: 45px; }

.about-text {
  text-align: left; }
  .about-text p {
    margin-bottom: 0; }

.dev-container {
  height: 45px;
  vertical-align: middle; }
  .dev-container p {
    display: inline-block; }

.dev-box {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #fff;
  padding: 3px 8px;
  margin-left: 4px; }
  .dev-box .fa-github {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    -ms-transition: -ms-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    font-size: 24px; }
  .dev-box:hover a {
    color: #fff; }
  .dev-box:hover .fa-github {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); }

.page-section {
  margin-top: 30px;
  margin-bottom: 30px; }

.home-posts {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  position: relative; }
  .home-posts.big, .home-posts.vertical {
    height: 480px; }
  .home-posts.normal, .home-posts.horizontal {
    height: 240px; }
  .home-posts .post-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0 15px;
    position: absolute;
    bottom: 0; }

.newsletter-gray-box, .newsletter-red-box {
  color: #fff;
  padding: 65px 55px 40px;
  height: 300px; }
  .newsletter-gray-box p, .newsletter-red-box p {
    font-size: 22px;
    line-height: 28px; }
    .newsletter-gray-box p strong, .newsletter-red-box p strong {
      font-size: 22px;
      line-height: 28px; }

.newsletter-gray-box {
  background-color: #404041; }

.newsletter-red-box {
  background-color: #F03F3D; }

.right-box {
  float: right;
  padding-left: 15px; }

.left-box {
  float: left;
  padding-right: 15px; }

.youtube-container {
  text-align: left; }

.youtube-player {
  height: 310px;
  display: block;
  max-width: 555px; }

.facebook-wrapper {
  text-align: left; }

.destaque-image {
  height: 340px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-bottom: 30px; }
  .destaque-image .destaque-texto {
    text-align: left;
    vertical-align: middle; }
    .destaque-image .destaque-texto blockquote {
      background-color: #F03F3D;
      color: #fff;
      font-weight: 300;
      font-size: 22px;
      line-height: 42px;
      padding: 7px 0 5px;
      max-width: 100%;
      display: inline;
      box-shadow: 10px 0px 0px #F03F3D, -10px 0 0 #F03F3D;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      position: relative;
      left: 10px; }
    .destaque-image .destaque-texto p {
      color: #fff;
      margin-top: 30px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 5px 10px; }

.destaque-logo {
  vertical-align: middle; }

.members-list-container {
  padding-bottom: 45px; }

.locomodivo {
  margin: 15px 0; }

.locomodivo-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: 50% 0;
  background-size: cover;
  margin: 0 auto;
  transition: background-image linear 0.5s;
  -webkit-transition: background-image linear 0.5s;
  -moz-transition: background-image linear 0.5s;
  -o-transition: background-image linear 0.5s; }

.locomodivo-content {
  background-color: transparent; }
  .locomodivo-content h3, .locomodivo-content p {
    margin-bottom: 0; }

.project-list {
  padding-bottom: 45px; }

.projeto-item .row-even {
  background: rgba(189, 189, 192, 0.1); }

.projeto-img {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 100%; }

.projeto-meta {
  text-align: left;
  padding: 25px 30px; }
  .projeto-meta.img-right {
    text-align: right; }
    .projeto-meta.img-right h3:after {
      left: auto;
      right: 30px; }
  .projeto-meta h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .projeto-meta h3:after {
      content: '';
      display: block;
      background-color: #F03F3D;
      width: 70px;
      height: 4px;
      position: absolute;
      left: 30px; }
  .projeto-meta a {
    color: #fff;
    background-color: #F03F3D;
    border-radius: 4px;
    padding: 8px 12px;
    text-transform: uppercase; }

#mapa {
  margin-bottom: 35px; }

.contato-container {
  margin: 0 -15px; }

.contato-info {
  padding-bottom: 30px; }

.contato-info-meta {
  text-align: left;
  margin-bottom: 8px; }
  .contato-info-meta i {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    text-align: center;
    margin-right: 12px; }
  .contato-info-meta p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 16px;
    max-width: 88%; }

#form_contato_form {
  margin-top: -15px; }
  #form_contato_form .loco-input {
    position: relative;
    margin-bottom: 5px; }
    #form_contato_form .loco-input label {
      position: absolute;
      left: 0;
      top: 20px;
      cursor: text;
      transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      font-family: Aller, Verdana, Arial; }
    #form_contato_form .loco-input.has-content label {
      top: 0;
      font-size: 12px;
      cursor: default; }
    #form_contato_form .loco-input.has-content input, #form_contato_form .loco-input.has-content textarea {
      border-color: #F03F3D; }
    #form_contato_form .loco-input input, #form_contato_form .loco-input textarea {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #545455;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      -moz--o-transition: all ease 0.4s;
      -webkit--o-transition: all ease 0.4s;
      -o--o-transition: all ease 0.4s;
      font-family: Aller, Verdana, Arial;
      font-size: 16px; }
    #form_contato_form .loco-input input {
      height: 50px;
      padding-top: 20px; }
    #form_contato_form .loco-input textarea {
      height: 135px;
      padding-top: 20px;
      resize: none; }
  #form_contato_form .frm_submit {
    text-align: right;
    display: inline-block;
    width: 100%; }
    #form_contato_form .frm_submit input {
      background-color: #414141;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-family: Aller, Verdana;
      letter-spacing: 1px;
      border: none;
      border-radius: 0;
      padding: 10px 35px;
      float: right;
      margin-top: 20px; }

.grid {
  margin-left: -10px;
  margin-right: -10px; }
  .grid .grid-sizer, .grid .grid-item {
    width: 33.3%;
    padding: 0 10px; }

.post-img-wrap {
  float: none;
  width: 100%;
  border: 1px solid #404040;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .post-img-wrap a img {
    width: 100%; }

.listpost-content-wrap {
  background-color: #f5f5f5;
  padding: 15px 25px;
  margin-top: -7px;
  border: 1px solid #404040;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .listpost-content-wrap h1 {
    line-height: 22px;
    margin-bottom: 25px; }
    .listpost-content-wrap h1.entry-title a {
      font-size: 23px;
      position: unset; }
      .listpost-content-wrap h1.entry-title a::after {
        width: 70px;
        left: 50%;
        margin-left: -35px;
        height: 4px; }
