/********************************* GERAL *********************************/

	::selection {
		background-color: #FF3333;
	}
	object {
		display: none;
	}
	h2.section-title {
		font-family: 'Amaranth';
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		color: #545455;
		text-transform: uppercase;
		text-align: left;
		padding-bottom: 4px;
		border-bottom: 3px solid #FF3333;
		position: relative;
		margin-bottom: 30px;
	}
	h2.section-title.inverse {
		color: #fff;
		border-bottom-color: #fff;
		font-weight: 500;
	}
	h2.section-title span {
		display: block;
		font-size: 16px;
		color: #BDBDC0;
	}
	h2.section-title:after {
		content: '';
		position: absolute;
		display: block;
		top: 100%;
		left: 10px;
		border-top: 10px solid #FF3333;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
	}
	h2.section-title.inverse:after {
		border-top-color: #fff;
	}
	.red-btn {
		display: inline-block;
		background-color: #FF3333;
		text-transform: uppercase;
		width: 100%;
		border-radius: 0;
		border: none;
		padding: 12px 15px;
		font-size: 16px;
	}
	.red-btn:hover, .red-btn:focus {
		background-color: #cb4332;
	}
	.padding-right-0 {
		padding-right: 0 !important;
	}
	.padding-left-0 {
		padding-left: 0 !important;
	}
	.padding-left-30 {
		padding-left: 30px;
	}
	.padding-right-30 {
		padding-right: 30px;
	}
	.margin-bottom-30 {
		margin-bottom: 30px !important;
	}
	.support-div {
		width: 1px;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

/********************************* NAVBAR *********************************/

	.navbar-brand:focus, .navbar-brand:active {
		outline: none;
		border: none;
	}

/********************************* FOOTER *********************************/

	footer#footer {
		background-color: #FF3333;
		color: #fff;
		padding: 25px 0;
	}
	footer#footer h2.section-title {
		font-size: 20px;
		line-height: 20px;
	}
	#copyright-container {
		background-color: #414141;
		color: #fff;
		padding: 5px 0;
	}
	#copyright-container p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	    font-size: 12px;
	}
	#copyright-container .cr-box {
		text-align: left;
		height: 45px;
	}
	.about-text p {
		margin-bottom: 0;
		text-align: left;
	}
	.dev-container {
		  height: 45px;
		  vertical-align: middle;
	}
	.dev-container p {
		  display: inline-block;
	}
	.dev-box {
		display: inline-block;
		vertical-align: middle;
		border: 2px solid #fff;
		padding: 3px 8px;
		margin-left: 4px;
	}
	.dev-box .fa-github {
		-webkit-transition: -webkit-transform .8s ease-in-out;
	  	-ms-transition: -ms-transform .8s ease-in-out;
		transition: transform .8s ease-in-out;
	  	font-size: 24px;
	}
	.dev-box:hover a {
		color: #fff;
	}
	.dev-box:hover .fa-github {
		transform: rotate(360deg);
		-ms-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}

/********************************* HOME *********************************/

	.page-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.home-posts {
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 0;
		position: relative;
	}
	.home-posts.big, .home-posts.vertical {
		height: 480px;
	}
	.home-posts.normal, .home-posts.horizontal {
		height: 240px;
	}
	.home-posts .post-content {
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		padding: 0 15px;
		position: absolute;
		bottom: 0;
	}
	.newsletter-gray-box, .newsletter-red-box {
		color: #fff;
		padding: 65px 55px 40px;
		height: 300px;
	}
	.newsletter-gray-box p, .newsletter-red-box p,
	.newsletter-gray-box p strong, .newsletter-red-box p strong {
		font-size: 22px;
		line-height: 28px;
	}
	.newsletter-gray-box {
		background-color:#404041;
	}
	.newsletter-red-box {
		background-color: #FF3333;
	}
	.right-box {
		float: right;
		padding-left: 15px;
	}
	.left-box {
		float: left;
		padding-right: 15px;
	}

/********************************* A EMPRESA *********************************/

	.destaque-image {
		height: 340px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 60px 0;
		margin-bottom: 30px;
	}
	.destaque-image .destaque-texto {
		text-align: left;
		vertical-align: middle;
	}
	.destaque-image .destaque-texto blockquote {
		background-color: #FF3333;
		color: #fff;
		font-weight: 300;
		font-size: 22px;
		line-height: 42px;
		padding: 7px 0 5px;
		max-width: 100%;
		display: inline;
		box-shadow: 10px 0px 0px #FF3333, -10px 0 0 #FF3333;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0;
		position: relative;
		left: 10px;
	}
	.destaque-image .destaque-texto p {
		color: #fff;
		margin-top: 30px;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 5px 10px;
	}
	.destaque-logo {
		vertical-align: middle;
	}
	.members-list-container {
		padding-bottom: 45px;
	}
	.locomodivo {
		margin: 15px 0;
	}
	.locomodivo-pic {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-position: 50% 0;
		background-size: cover;
		margin: 0 auto;
		transition: background-image linear .5s;
	}
	.locomodivo-content {
		background-color: transparent;
	}
	.locomodivo-content h3, .locomodivo-content p {
		margin-bottom: 0;
	}

/********************************* PROJETOS *********************************/

	.project-list {
		padding-bottom: 45px;
	}
	.projeto-item.row-even {
		background: rgba(189, 189, 192, 0.1);
	}
	.projeto-img {
		background-size: cover;
		background-position: 50% 0;
		background-repeat: no-repeat;
		height: 100%;
	}
	.projeto-meta {
		text-align: left;
		padding: 25px 30px;
	}
	.projeto-meta.img-right {
		text-align: right;
	}
	.projeto-meta h3 {
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.projeto-meta h3:after {
		content: '';
		display: block;
		background-color: #FF3333;
		width: 70px;
		height: 4px;
		position: absolute;
		left: 30px;
	}
	.projeto-meta.img-right h3:after {
		left: auto;
		right: 30px;
	}
	.projeto-meta p {

	}
	.projeto-meta a {
		color: #fff;
		background-color: #FF3333;
		border-radius: 4px;
		padding: 8px 12px;
		text-transform: uppercase;
	}

/********************************* CONTATO *********************************/

	#mapa {
		margin-bottom: 35px;
	}
	.contato-container {
		margin: 0 -15px;
	}
	.contato-info {
		padding-bottom: 30px;
	}
	.contato-info-meta {
		text-align: left;
		margin-bottom: 8px;
	}
	.contato-info-meta i {
		font-size: 24px;
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		text-align: center;
		margin-right: 12px;
	}
	.contato-info-meta p {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		font-size: 16px;
		max-width: 92%;
	}
